
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f9ff;
  color: #333;
}
html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(90deg, #b3d9ff, #66b2ff);
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

header h1 {
  font-size: 30px;
  color: #003366;
  margin: 0;
}

header span {
  color: #005ce6;
}

header p {
  margin: 4px 0 0;
  font-size: 15px;
  color: #003366;
}


.hero {
  text-align: center;
  padding: 80px 20px 50px;
  background: linear-gradient(to bottom, #eaf4ff, #f5f9ff);
}

.hero h2 {
  font-size: 28px;
  color: #004d99;
  margin-bottom: 10px;
}

.hero p {
  color: #555;
  font-size: 17px;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.btn-whatsapp {
  background-color: #25d366;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
}

.btn-whatsapp:hover {
  background-color: #1ebd5a;
  transform: scale(1.05);
}


.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; 
  gap: 24px;
  padding: 60px 20px;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  flex: 1;
  padding: 25px;
  min-width: 250px;
  max-width: 270px;
  min-height: 170px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #004d99;
  margin-bottom: 10px;
  font-size: 20px;
}

.card a {
  color: #0073e6;
  text-decoration: none;
  font-weight: 500;
}

.card a:hover {
  text-decoration: underline;
}

.social {
  margin-top: 10px;
}

.social a {
  display: inline-block;
  color: #005ce6;
  font-weight: 500;
  margin: 0 8px;
}

footer {
  text-align: center;
  background-color: #e6f0ff;
  padding: 15px;
  color: #333;
  font-size: 14px;
  border-top: 2px solid #66b2ff;
}


@media (max-width: 700px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 220px;
    height: auto;
  }

  .hero {
    padding: 60px 20px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
body {
  opacity: 0;
  transition: opacity 1s ease;
}
